.full-width-page .page {
  @import 'preflight';

  @apply p-0;

  .theme-default-content {
    @apply p-0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// import fontawesome styles
@import '~@fortawesome/fontawesome-svg-core/styles.css';

// Top choices: Epilogue, Sora, Inter, Montserrat, Poppins, Open Sans, Muli, Barlow, 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

// See https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#palette-file
:root {
  // font vars
  --font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  // brand colors
  --c-brand: #3F2680;
  --c-brand-light: #8264D1;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: #3F2680;
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

a[disabled],
button[disabled] {
  pointer-events: none !important;
  cursor: not-allowed;
  opacity: 0.7;
}

input {
  @apply box-border placeholder-gray-500 text-gray-900 rounded-md border border-indigo-300 shadow-sm  focus:border-indigo-500 focus:ring-indigo-300 focus:ring-2 focus:ring-offset-2 focus:outline-none #{!important};
}

// Docs https://v2.vuepress.vuejs.org/reference/plugin/back-to-top.html#styles
.back-to-top {
  --back-to-top-color: #FBCD22;
  --back-to-top-color-hover: #E1B204;
}

// Full Width Page Class
.full-width-page {
  a {
    @apply hover:no-underline #{!important};
  }

  .theme-default-content {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    border-bottom: var(--c-bg-navbar);
    @apply max-w-7xl mx-auto md:px-6 lg:px-8;
  
    // make navbar scroll away
    position: absolute;

    .site-name {
      @apply text-white
    }
  }

  footer.page-meta {
    display: none;
  }

  .toggle-dark-button, .toggle-sidebar-button {
    @apply text-white
  }
}
